@model ToyoharaCore.Models.CustomModel.Settings
@using Newtonsoft.Json
@using ToyoharaCore.Models.CustomModel

<div id="@(Model.flowWindowName)" class="modal fade" tabindex="-1" role="dialog" style="z-index:100000;" data-backdrop="static">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel">Настройки</h4>
                        <button type="button" class="close"  onclick="$('#@(Model.flowWindowName)').modal('hide');">
                            <span aria-hidden="true">×</span>
                        </button>
                </div>
                <div class="modal-body">
                    <div class="table-responsive">
                        <table class="table table-condensed">
                            <thead>
                                <tr>
                                    <th>Название столбца</th>
                                    <th>Показывать столбец</th>
                                    <th>Ширина столбца</th>
                                    <th>Положение</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var setting in Model.gridSettings.OrderBy(x=>x.number))
                                {
                                    @if (setting.global_visible == true)
                                    {
                                        <tr>
                                            <td>@(CommonMethods.HtmlToText(setting.russian_field_description) + ":")</td>
                                            <td><input type='checkbox' class='@Model.checkBoxClass' id='@("CK_UI_" + setting.field_description)' name='@("CK_UI_" + setting.field_description)' value='@setting.field_description' @((setting.is_visible == true) ? " checked=\"checked\"" : "")></td>
                                            <td><input type='number' class='@Model.widthClass' id='@("UI_" + setting.field_description)' name='@("UI_" + setting.field_description)' onblur='javascript:checkFloat(this.value);' value='@setting.width' /></td>
                                            <td><input type='number' class='@Model.positionClass' id='@("UI_" + setting.number + "_pos")' name='@("UI_" + setting.number + "_pos")' onblur='javascript:checkFloat(this.value);' value='@setting.number' /></td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer" style="padding-bottom:15px;">
                    <button type="button" class="btn btn-primary" onclick='DefaultSettingsOfGrid("@Model.storedProcedure","@(Model.flowWindowName)",  "@(Model.parsialDivName)",  "@(Model.openParsialDivFunction)");'>Вернуть настройки по умолчанию</button>
                    <button type="button" class="btn btn_icon" onclick='UpdateSettingsOfGrid("@Model.controllerName", "@Model.actionName","@Model.storedProcedure", 
                            "@Model.checkBoxClass", "@Model.widthClass", "@Model.positionClass",JSON.stringify(@(Html.Raw(JsonConvert.SerializeObject(Model.gridSettings)))),
                            "@(Model.flowWindowName)",  "@(Model.parsialDivName)",  "@(Model.openParsialDivFunction)");'>
                        <span class="dx-icon-floppy icon"></span>@*</i>*@
                    </button>
                </div>
            </div>

        </div>
    </div>
</div>

<script type="text/javascript">

 
</script>
